In [6]:
import bt
import pandas as pd

In [ ]:
# KOSPI(^KS11), NASDAQ(^IXIC), S&P 500(^GSPC)
# 일본 nikkei(^N225), 중국 CSI300(000300.SS), 홍콩항셍(^HSI)
# 독일(^GDAXI), 프랑스(^FCHI)

In [ ]:
# 나스닥 vs QQQ

In [8]:
qqq = bt.get("QQQ" , start='2003-01-01', end="2021-11-14")

In [9]:
n = bt.get("^IXIC" , start='2003-01-01', end="2021-11-14")

In [10]:
pd.concat([qqq,n], axis=1).corr()

           qqq      ixic
qqq   1.000000  0.998864
ixic  0.998864  1.000000

In [ ]:
# 0.998864

In [ ]:
# 코스피 vs EWY

In [11]:
ewy = bt.get("EWY" , start='2003-01-01', end="2021-11-14")

In [12]:
k = bt.get("^KS11" , start='2003-01-01', end="2021-11-14")

In [13]:
pd.concat([ewy,k], axis=1).corr()
# 0.980149

           ewy      ks11
ewy   1.000000  0.980149
ks11  0.980149  1.000000

In [ ]:
# 코스피 vs FLKR

In [14]:
FLKR = bt.get("FLKR" , start='2003-01-01', end="2021-11-14")

In [15]:
pd.concat([FLKR,k], axis=1).corr()
# 0.988673

          flkr      ks11
flkr  1.000000  0.988673
ks11  0.988673  1.000000

In [ ]:
# S&P500 vs SPY

In [19]:
SP500 = bt.get("^GSPC" , start='2003-01-01', end="2021-11-14")

In [20]:
SPY = bt.get("SPY" , start='2003-01-01', end="2021-11-14")

In [21]:
pd.concat([SP500,SPY], axis=1).corr()
# 0.998398

          gspc       spy
gspc  1.000000  0.998398
spy   0.998398  1.000000

In [ ]:
# S&P500 vs IVV

In [22]:
IVV = bt.get("IVV" , start='2003-01-01', end="2021-11-14")

In [23]:
pd.concat([SP500,IVV], axis=1).corr()
# 0.998404

          gspc       ivv
gspc  1.000000  0.998404
ivv   0.998404  1.000000

In [ ]:
# nikkei(^N225) vs EWJ

In [24]:
nikkei = bt.get("^N225" , start='2003-01-01', end="2021-11-14")

In [29]:
EWJ = bt.get("EWJ" , start='2003-01-01', end="2021-11-14")

In [30]:
pd.concat([nikkei, EWJ], axis=1).corr()
# 0.972656

          n225       ewj
n225  1.000000  0.972656
ewj   0.972656  1.000000

In [31]:
BBJP = bt.get("BBJP" , start='2003-01-01', end="2021-11-14")

In [33]:
pd.concat([nikkei, BBJP], axis=1).corr()
# 0.987652

          n225      bbjp
n225  1.000000  0.987652
bbjp  0.987652  1.000000

In [ ]:
# 중국 CSI300(000300.SS)

In [49]:
CHINA = bt.get("000001.SS" , start='2003-01-01', end="2021-11-14")
CHINA.head()

               000001ss
Date
2003-01-02  1320.630005
2003-01-03  1319.868042
2003-01-06  1334.678955
2003-01-07  1332.061035
2003-01-08  1372.067017

In [50]:
KWEB = bt.get("KWEB" , start='2003-01-01', end="2021-11-14")
KWEB.head()

                 kweb
Date
2013-08-01  24.471979
2013-08-02  24.499916
2013-08-05  24.499916
2013-08-06  24.555792
2013-08-07  24.122784

In [45]:
pd.concat([CHINA, KWEB], axis=1).corr()

          000001ss      kweb
000001ss  1.000000  0.418076
kweb      0.418076  1.000000

In [51]:
MCHI = bt.get("MCHI" , start='2003-01-01', end="2021-11-14")
MCHI.head()

                 mchi
Date
2011-03-31  42.605255
2011-04-01  43.196304
2011-04-04  44.115723
2011-04-05  43.853027
2011-04-06  44.074677

In [52]:
pd.concat([CHINA, MCHI], axis=1).corr()

          000001ss      mchi
000001ss  1.000000  0.614114
mchi      0.614114  1.000000

In [53]:
ASHR = bt.get("ASHR" , start='2003-01-01', end="2021-11-14")
ASHR.head()

                 ashr
Date
2013-11-06  18.123566
2013-11-07  17.940866
2013-11-08  17.867788
2013-11-11  17.904325
2013-11-12  17.860479

In [54]:
pd.concat([CHINA, ASHR], axis=1).corr()

          000001ss     ashr
000001ss   1.00000  0.79768
ashr       0.79768  1.00000

In [ ]:
# 홍콩항셍(^HSI) VS

In [55]:
HSI = bt.get("^HSI" , start='2003-01-01', end="2021-11-14")
HSI.head()

                    hsi
Date
2003-01-02  9365.519531
2003-01-03  9583.849609
2003-01-06  9665.959961
2003-01-07  9652.400391
2003-01-08  9688.209961

In [62]:
EWH = bt.get("EWH" , start='2003-01-01', end="2021-11-14")
EWH.head()

                 ewh
Date
2002-12-31  4.344291
2003-01-02  4.420301
2003-01-03  4.443690
2003-01-06  4.461230
2003-01-07  4.402761

In [63]:
pd.concat([HSI, EWH], axis=1).corr()

          hsi       ewh
hsi  1.000000  0.911643
ewh  0.911643  1.000000

In [64]:
FLHK = bt.get("FLHK" , start='2003-01-01', end="2021-11-14")
FLHK.head()

                 flhk
Date
2017-12-18  23.311773
2017-12-19  23.438667
2017-12-20  23.497732
2017-12-21  23.743063
2017-12-22  23.765779

In [ ]:
# 독일(^GDAXI)

In [67]:
GERMAN= bt.get("^GDAXI" , start='2003-01-01', end="2021-11-14")
GERMAN.head()

                  gdaxi
Date
2003-01-02  3105.040039
2003-01-03  3092.939941
2003-01-06  3157.250000
2003-01-07  3112.770020
2003-01-08  2993.000000

In [68]:
EWG= bt.get("EWG" , start='2003-01-01', end="2021-11-14")
EWG.head()

                 ewg
Date
2002-12-31  6.624043
2003-01-02  7.001021
2003-01-03  7.149119
2003-01-06  7.364536
2003-01-07  7.189511

In [69]:
pd.concat([GERMAN, EWG], axis=1).corr()

          gdaxi       ewg
gdaxi  1.000000  0.955025
ewg    0.955025  1.000000

In [ ]:
# 프랑스(^FCHI)

In [70]:
FRANCE = bt.get("^FCHI" , start='2003-01-01', end="2021-11-14")
FRANCE.head()

                   fchi
Date
2002-12-31  3063.909912
2003-01-02  3195.020020
2003-01-03  3187.879883
2003-01-06  3210.270020
2003-01-07  3160.989990

In [71]:
EWQ = bt.get("EWQ" , start='2003-01-01', end="2021-11-14")
EWQ.head()

                 ewq
Date
2002-12-31  9.416442
2003-01-02  9.734564
2003-01-03  9.670940
2003-01-06  9.931799
2003-01-07  9.613677

In [72]:
pd.concat([FRANCE, EWQ], axis=1).corr()

          fchi       ewq
fchi  1.000000  0.896142
ewq   0.896142  1.000000

In [ ]:
EWQ = bt.get("EWQ" , start='2003-01-01', end="2021-11-14")
EWQ.head()