In [1]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

mpl.rcParams['figure.figsize'] = (8, 6)
mpl.rcParams['axes.grid'] = False
plt.style.use('seaborn')
plt.rcParams['figure.figsize'] = [8, 4.5]
plt.rcParams['figure.dpi'] = 300

In [2]:
import tensorflow as tf
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense, Dropout
from tensorflow.keras.callbacks import EarlyStopping

seed =1234

In [3]:
pd.set_option('display.max_rows', 10, 'display.max_columns', 500, 'max_colwidth', None)

In [4]:
# df = pd.read_csv('./kospi.csv')
df = pd.read_csv('./baseline_hv.csv')

df.shape

(4598, 55)

In [5]:
df.head()

,date,baseline,HV,HV_pred,HV_resid,sum_word,MA5,MA20,MA60,MA120,MA5_gra,MA20_gra,MA60_gra,MA120_gra,V_MA5,V_MA20,V_MA60,V_MA120,EMA5,EMA20,EMA60,EMA120,MACD,MACD_sig9,MACD_OSC,Fast%K,Fast%D,Slow%K,Slow%D,RSI14,RSI signal,CCI,A_Ratio,B_Ratio,ATR,UpDI,DownDI,MFI,Momentum,Sonar,Sonar_sig5,STDEV,Sigma,TRIX,VR,WILLR,Psy,Disparity20,Disparity60,ADX,ADOSC,Volume_OSC,upperband,middleband,lowerband
0,2003-07-28,100.0,NaN,0.0,NaN,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2003-07-29,100.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.750,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2003-07-30,100.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.125,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2003-07-31,100.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.625,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2003-08-01,100.0,0.0,0.0,0.0,3.0,41.088806,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.291079e+07,0.0,0.0,0.0,41.088806,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,13.125,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
df.isna().sum()

date           0
baseline       0
HV             1
HV_pred       20
HV_resid      21
              ..
ADOSC          0
Volume_OSC     0
upperband      0
middleband     0
lowerband      0
Length: 55, dtype: int64

In [7]:
df.rename(columns={'Unnamed: 0': 'Date'}, inplace=True)

In [8]:
df.head()

,date,baseline,HV,HV_pred,HV_resid,sum_word,MA5,MA20,MA60,MA120,MA5_gra,MA20_gra,MA60_gra,MA120_gra,V_MA5,V_MA20,V_MA60,V_MA120,EMA5,EMA20,EMA60,EMA120,MACD,MACD_sig9,MACD_OSC,Fast%K,Fast%D,Slow%K,Slow%D,RSI14,RSI signal,CCI,A_Ratio,B_Ratio,ATR,UpDI,DownDI,MFI,Momentum,Sonar,Sonar_sig5,STDEV,Sigma,TRIX,VR,WILLR,Psy,Disparity20,Disparity60,ADX,ADOSC,Volume_OSC,upperband,middleband,lowerband
0,2003-07-28,100.0,NaN,0.0,NaN,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2003-07-29,100.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.750,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2003-07-30,100.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.125,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2003-07-31,100.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.625,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2003-08-01,100.0,0.0,0.0,0.0,3.0,41.088806,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.291079e+07,0.0,0.0,0.0,41.088806,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,13.125,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
df.set_index('date', inplace=True)

In [10]:
df.head()

,baseline,HV,HV_pred,HV_resid,sum_word,MA5,MA20,MA60,MA120,MA5_gra,MA20_gra,MA60_gra,MA120_gra,V_MA5,V_MA20,V_MA60,V_MA120,EMA5,EMA20,EMA60,EMA120,MACD,MACD_sig9,MACD_OSC,Fast%K,Fast%D,Slow%K,Slow%D,RSI14,RSI signal,CCI,A_Ratio,B_Ratio,ATR,UpDI,DownDI,MFI,Momentum,Sonar,Sonar_sig5,STDEV,Sigma,TRIX,VR,WILLR,Psy,Disparity20,Disparity60,ADX,ADOSC,Volume_OSC,upperband,middleband,lowerband
date,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2003-07-28,100.0,NaN,0.0,NaN,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2003-07-29,100.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.750,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2003-07-30,100.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.125,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2003-07-31,100.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.625,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2003-08-01,100.0,0.0,0.0,0.0,3.0,41.088806,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.291079e+07,0.0,0.0,0.0,41.088806,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,13.125,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
df.shape

(4598, 54)

In [12]:
cols = ['HV', 'MACD']#, 'MACD_OSC', 'Sonar', 'Sigma', 'Momentum', 'Volume_OSC',  'ATR','RSI signal','RSI14',  'ADOSC']
cols

['HV', 'MACD']

In [13]:
df = df[cols]

In [14]:
df.index

Index(['2003-07-28', '2003-07-29', '2003-07-30', '2003-07-31', '2003-08-01',
       '2003-08-04', '2003-08-05', '2003-08-06', '2003-08-07', '2003-08-08',
       ...
       '2021-10-15', '2021-10-18', '2021-10-19', '2021-10-20', '2021-10-21',
       '2021-10-22', '2021-10-25', '2021-10-26', '2021-10-27', '2021-10-28'],
      dtype='object', name='date', length=4598)

In [15]:
df.head()

             HV  MACD
date
2003-07-28  NaN   0.0
2003-07-29  0.0   0.0
2003-07-30  0.0   0.0
2003-07-31  0.0   0.0
2003-08-01  0.0   0.0

In [16]:
# df_og = scaler.inverse_transform(df)
# df_og_df = pd.DataFrame(df_og, columns = cols, index = df.index)
# df_og_df.head()

In [17]:
df.shape

(4598, 2)

In [18]:
feature_df = df.loc['2003-09-29':'2021-09-28', 'HV':'MACD']
print(feature_df.shape)
feature_df.head()

(4532, 2)

                  HV      MACD
date
2003-09-29  0.000000  0.115163
2003-09-30  0.046147  0.033484
2003-10-01  0.111621  0.050163
2003-10-02  0.113955  0.080961
2003-10-03  0.127419  0.150613

In [19]:
label_df = df.loc['2003-09-29':'2021-09-28', 'HV']
print(label_df.shape)
label_df.head()

(4532,)

date
2003-09-29    0.000000
2003-09-30    0.046147
2003-10-01    0.111621
2003-10-02    0.113955
2003-10-03    0.127419
Name: HV, dtype: float64

# TRAIN, TEST 
- 1 : 2003 ~ 2011  / 2012 ~ 2016 
- 2 : 2003 ~ 2016  / 2017~ 2021

## 1 train_test

In [20]:
X_train_1st = feature_df.loc['2003-09-29':'2011-10-28']
print(X_train_1st.shape)
X_train_1st.head()

(2038, 2)

                  HV      MACD
date
2003-09-29  0.000000  0.115163
2003-09-30  0.046147  0.033484
2003-10-01  0.111621  0.050163
2003-10-02  0.113955  0.080961
2003-10-03  0.127419  0.150613

In [21]:
y_train_1st = label_df.loc['2003-09-29':'2011-10-28']
print(y_train_1st.shape)
y_train_1st.head()

(2038,)

date
2003-09-29    0.000000
2003-09-30    0.046147
2003-10-01    0.111621
2003-10-02    0.113955
2003-10-03    0.127419
Name: HV, dtype: float64

### test

In [22]:
X_test_1st = feature_df.loc['2011-09-29':'2021-09-28']
print(X_test_1st.shape)
X_test_1st.head()

(2516, 2)

                  HV      MACD
date
2011-09-29  0.311156 -0.859632
2011-09-30  0.324805 -0.981205
2011-10-03  0.327470 -1.202298
2011-10-04  0.340938 -1.250259
2011-10-05  0.327492 -1.187766

In [23]:
y_test_1st = label_df.loc['2011-09-29':'2021-09-28']
print(y_test_1st.shape)
y_test_1st.head()

(2516,)

date
2011-09-29    0.311156
2011-09-30    0.324805
2011-10-03    0.327470
2011-10-04    0.340938
2011-10-05    0.327492
Name: HV, dtype: float64

In [24]:
print(X_train_1st.shape, y_train_1st.shape)
print(X_test_1st.shape, y_test_1st.shape)

(2038, 2) (2038,)
(2516, 2) (2516,)

## scaling
X y  scaling .

In [25]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler, RobustScaler

# Standardization  0 /  1
X_scaler = MinMaxScaler()
   
# df_1 = scaler.fit_transform(df)

# 
X_scaler.fit(X_train_1st)
X_train_1st_sc = X_scaler.transform(X_train_1st)
X_test_1st_sc = X_scaler.transform(X_test_1st)

In [26]:
# from sklearn.preprocessing import StandardScaler

# Standardization  0 /  1
y_scaler = MinMaxScaler()   

# df_1 = scaler.fit_transform(df)

# 
y_scaler.fit(np.array(y_train_1st).reshape(-1,1))
y_train_1st_sc = y_scaler.transform(np.array(y_train_1st).reshape(-1,1))
y_test_1st_sc = y_scaler.transform(np.array(y_test_1st).reshape(-1,1))

In [27]:
X_train_1st_sc.shape, X_test_1st_sc.shape, y_train_1st.shape, y_test_1st.shape

((2038, 2), (2516, 2), (2038,), (2516,))

In [28]:
y_train_1st.head()

date
2003-09-29    0.000000
2003-09-30    0.046147
2003-10-01    0.111621
2003-10-02    0.113955
2003-10-03    0.127419
Name: HV, dtype: float64

In [29]:
y_test_1st.head()

date
2011-09-29    0.311156
2011-09-30    0.324805
2011-10-03    0.327470
2011-10-04    0.340938
2011-10-05    0.327492
Name: HV, dtype: float64

In [30]:
y_test_1st.describe()

count    2516.000000
mean        0.144625
std         0.091794
min         0.046415
25%         0.094281
50%         0.120713
75%         0.165929
max         0.904255
Name: HV, dtype: float64

In [31]:
# df = pd.DataFrame(df_1, columns = cols, index = df.index)

In [32]:
X_train_1st_sc_df = pd.DataFrame(X_train_1st_sc, columns =X_train_1st.columns, index = X_train_1st.index)
X_train_1st_sc_df.head()

                  HV      MACD
date
2003-09-29  0.000000  0.754183
2003-09-30  0.043094  0.739506
2003-10-01  0.104238  0.742503
2003-10-02  0.106417  0.748037
2003-10-03  0.118991  0.760554

In [33]:
X_test_1st_sc_df = pd.DataFrame(X_test_1st_sc, columns = X_test_1st.columns, index = X_test_1st.index)
X_test_1st_sc_df.head()

                  HV      MACD
date
2011-09-29  0.290575  0.579012
2011-09-30  0.303321  0.557165
2011-10-03  0.305810  0.517435
2011-10-04  0.318387  0.508816
2011-10-05  0.305830  0.520046

In [34]:
X_test_1st_sc_df.describe()

                HV         MACD
count  2516.000000  2516.000000
mean      0.135059     0.845592
std       0.085722     0.290091
min       0.043345    -1.759205
25%       0.088045     0.736232
50%       0.112729     0.857294
75%       0.154954     0.955362
max       0.844444     1.804111

In [35]:
#    df -> numpy 
X_train_1st_np = X_train_1st_sc_df.to_numpy()
y_train_1st_np = y_train_1st.to_numpy()

X_test_1st_np = X_test_1st_sc_df.to_numpy()
y_test_1st_np = y_test_1st.to_numpy()

In [36]:
#   feature, label -> numpy type

def make_sequence_dataset(feature, label, window_size):
    feature_list = [] #  feature list
    label_list = []  #  label list
    
    for i in range(len(feature)-window_size):
        feature_list.append(feature[i:i+window_size])
        label_list.append(label[i+window_size])
    return np.array(feature_list), np.array(label_list) # 3

In [37]:
window_size = 20
X_train_1st, y_train_1st = make_sequence_dataset(X_train_1st_np, y_train_1st_np, window_size)
X_test_1st, y_test_1st = make_sequence_dataset(X_test_1st_np, y_test_1st_np, window_size)
print(X_train_1st.shape, y_train_1st.shape, X_test_1st.shape, y_test_1st.shape) # (batch size, time steps, input dims)

(2018, 20, 2) (2018,) (2496, 20, 2) (2496,)

# TRAIN, TEST

In [38]:
# input_shape
X_train_1st[0].shape

(20, 2)

# Model

In [39]:
# model_116 = Sequential()
# model_116.add(LSTM(64, activation = 'relu', input_shape = X_train_1st[0].shape)) 
# # model_115.add(LSTM(16, activation = 'relu'))
# # model.add(LSTM(4, activation = 'relu',return_sequences=True))
# model_116.add(Dense(1))
# model_116.summary()

In [40]:
# Initialising the RNN
model_118 = Sequential()

# Adding the first LSTM layer and some Dropout regularisation
model_118.add(LSTM(units = 10, activation = 'relu', return_sequences = True, input_shape = X_train_1st[0].shape))
model_118.add(Dropout(0.1))

# Adding a second LSTM layer and some Dropout regularisation
model_118.add(LSTM(units = 10, activation = 'relu', return_sequences = True))
model_118.add(Dropout(0.1))

# Adding a third LSTM layer and some Dropout regularisation
model_118.add(LSTM(units = 10, activation = 'relu', return_sequences = True))
model_118.add(Dropout(0.1))

# Adding a fourth LSTM layer and some Dropout regularisation
model_118.add(LSTM(units = 10, activation = 'relu'))
model_118.add(Dropout(0.1))

# Adding the output layer
model_118.add(Dense(units = 1))
model_118.summary()
# Compiling the RNN
# regressor.compile(optimizer = 'adam', loss = 'mean_squared_error')

# Fitting the RNN to the Training set
# regressor.fit(X_train, y_train, epochs = 100, batch_size = 32)

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
lstm (LSTM)                  (None, 20, 10)            520
_________________________________________________________________
dropout (Dropout)            (None, 20, 10)            0
_________________________________________________________________
lstm_1 (LSTM)                (None, 20, 10)            840
_________________________________________________________________
dropout_1 (Dropout)          (None, 20, 10)            0
_________________________________________________________________
lstm_2 (LSTM)                (None, 20, 10)            840
_________________________________________________________________
dropout_2 (Dropout)          (None, 20, 10)            0
_________________________________________________________________
lstm_3 (LSTM)                (None, 10)                840
_________________________________________________________________
dropout_3 (Dropout)          (None, 10)                0
_________________________________________________________________
dense (Dense)                (None, 1)                 11
=================================================================
Total params: 3,051
Trainable params: 3,051
Non-trainable params: 0
_________________________________________________________________

In [ ]:
from tensorflow.keras.callbacks import EarlyStopping
from tensorflow.keras import optimizers

# : https://kibua20.tistory.com/206 [ SW   ]
sgd = optimizers.SGD(learning_rate = 0.0001)
# sgd = SGD(lr=0.01, decay=1e-6, momentum=0.9, nesterov=True)
model_118.compile(loss = 'mse', optimizer = 'adam')
early_stop = EarlyStopping(monitor = 'val_loss', patience = 10)
history = model_118.fit(X_train_1st, y_train_1st, validation_data = (X_test_1st, y_test_1st), epochs=100, 
          batch_size=15, callbacks = [early_stop])

Epoch 1/100
135/135 [==============================] - 5s 20ms/step - loss: 0.0191 - val_loss: 0.0040
Epoch 2/100
135/135 [==============================] - 2s 17ms/step - loss: 0.0078 - val_loss: 0.0044
Epoch 3/100
135/135 [==============================] - 2s 17ms/step - loss: 0.0055 - val_loss: 0.0041
Epoch 4/100
135/135 [==============================] - 3s 21ms/step - loss: 0.0054 - val_loss: 0.0035
Epoch 5/100
135/135 [==============================] - 3s 25ms/step - loss: 0.0050 - val_loss: 0.0030
Epoch 6/100
135/135 [==============================] - 2s 17ms/step - loss: 0.0047 - val_loss: 0.0031
Epoch 7/100
135/135 [==============================] - 3s 21ms/step - loss: 0.0044 - val_loss: 0.0033
Epoch 8/100
135/135 [==============================] - 3s 25ms/step - loss: 0.0042 - val_loss: 0.0032
Epoch 9/100
135/135 [==============================] - 2s 17ms/step - loss: 0.0039 - val_loss: 0.0023
Epoch 10/100
135/135 [==============================] - 3s 21ms/step - loss: 0.0033 - val_loss: 0.0019
Epoch 11/100
135/135 [==============================] - 3s 25ms/step - loss: 0.0033 - val_loss: 0.0018
Epoch 12/100
135/135 [==============================] - 2s 18ms/step - loss: 0.0031 - val_loss: 0.0020
Epoch 13/100
135/135 [==============================] - 3s 22ms/step - loss: 0.0037 - val_loss: 0.0016
Epoch 14/100
 12/135 [=>............................] - ETA: 2s - loss: 0.0029

In [ ]:
val_loss = history.history['val_loss']
print(val_loss[:5])

In [ ]:
train_loss = history.history['loss']
print(train_loss[:5])

In [ ]:
plt.plot(np.arange(len(val_loss)), val_loss, c="red", label='val')
plt.plot(np.arange(len(train_loss)), train_loss, c='blue', label ='train')
plt.legend()
plt.show()

#   
- https://www.youtube.com/watch?v=LLLVYkXJw30

In [ ]:
# X_test_1st[:5]

In [ ]:
pred = model_118.predict(X_test_1st)

In [ ]:
pred[:5]

In [ ]:
np.mean(pred)

In [ ]:
score_rmse = np.sqrt(np.min(pred))
score_rmse

In [ ]:
y_test_1st[:5]

In [ ]:
plt.figure(figsize = (12,6))
plt.title('STDEV + STDEV_log + HV, window_size = 20')
plt.ylabel('HV')
plt.xlabel('Period')
plt.plot(y_test_1st, label = 'actual')
plt.plot(pred, label = 'prediction')
plt.grid()
plt.legend(loc = 'best')

plt.show()