# imports

In [1]:
import pandas as pd
import numpy as np

import requests
from bs4 import BeautifulSoup

# def

In [2]:
def getNaver(base_url, dates):
    
    articles_list = []
    for date in dates:
        for page in range(1, 21):
            
            url = base_url + str(date) + '&page=' + str(page)
            response = requests.get(url)
            
            if response.status_code == 200:
                html = response.text
                soup = BeautifulSoup(html, 'html.parser')
                
                articles = soup.select_one('#contentarea_left > ul').select('dd.articleSubject')
                for article in articles:
                    try:
                        title       = article.select_one('a').text
                        article_url = 'https://finance.naver.com/' + article.select_one('a').get('href')
                        
                        article_row = []
                        article_row.append(page)
                        article_row.append(date)
                        article_row.append(title)
                        article_row.append(article_url)
                        
                        articles_list.append(article_row)
                        
                    except Exception:
                        continue
            else:
                print('error')
    
    df = pd.DataFrame(articles_list, columns=['page', 'date', 'title', 'url'])
    
    return df

# 네이버 금융 : 시황/전망

In [3]:
sihwang_url = 'https://finance.naver.com/news/news_list.naver?mode=LSS3D&section_id=101&section_id2=258&section_id3=401&date='
dates = pd.date_range('2003-01-01', '2021-11-10').strftime('%Y%m%d').tolist()

sihwang = getNaver(sihwang_url, dates)

In [4]:
sihwang

,page,date,title,url
0,1,20040223,(표)ECN 시장 거래현황 종합(23일),https://finance.naver.com//news/news_read.nave...
1,1,20040223,[표]ECN 하락률 상위종목 - 23일,https://finance.naver.com//news/news_read.nave...
2,1,20040223,[표]ECN 상승률 상위종목 - 23일,https://finance.naver.com//news/news_read.nave...
3,1,20040223,[표]ECN 거래량 상위종목 - 23일,https://finance.naver.com//news/news_read.nave...
4,2,20040223,(표)투신권 수익증권 자금 동향(2/20),https://finance.naver.com//news/news_read.nave...
...,...,...,...,...
372969,7,20211110,MSCI 지수 편입 기대 종목은…엘앤에프·F&F '유력',https://finance.naver.com//news/news_read.nave...
372970,7,20211110,"외국인, 지난 달 韓 주식 3.3조 팔아...시총 비중 금융위기 이후 최저",https://finance.naver.com//news/news_read.nave...
372971,7,20211110,"외국인, 지난달 韓주식 3조3천억원 순매도…한달만에 '팔자'",https://finance.naver.com//news/news_read.nave...
372972,7,20211110,"中·금리 때문에…美증시 달리는데 코스피 뒷걸음질, 언제 쫓아가나",https://finance.naver.com//news/news_read.nave...
372973,7,20211110,엔터주 테마탄 디어유 오늘 상장…‘따상' 가나,https://finance.naver.com//news/news_read.nave...

In [5]:
sihwang.to_csv('./naver_sihwang_url.csv', index=False)

# 네이버 금융 : 해외증시

In [8]:
foreign_url = 'https://finance.naver.com/news/news_list.naver?mode=LSS3D&section_id=101&section_id2=258&section_id3=403&date='
dates = pd.date_range('2003-01-01', '2021-11-10').strftime('%Y%m%d').tolist()

foreign = getNaver(foreign_url, dates)

In [10]:
foreign.to_csv('./nadver_foreign_url.csv', index=False)