In [1]:
import pandas as pd

In [2]:
RMSE_1_1 = pd.read_csv("./RMSE_1_1_new.csv")
RMSE_1_2 = pd.read_csv("./RMSE_1_2_new.csv")
TOP_2_1 = pd.read_csv("./RMSE_TOP17_1_2_new.csv")
TOP_2_2 = pd.read_csv("./RMSE_TOP17_2_2_new.csv")
word_1 = pd.read_csv("./sum_word_1.csv")
word_2 = pd.read_csv("./sum_word_2.csv")

In [14]:
kk = pd.concat([RMSE_1_1, word_1])
KK = kk.sort_values("RMSE")
KK.reset_index(drop=True, inplace=True)
KK = KK.head(17)
KK

            col      RMSE
0      sum_word  0.027263
1       MA5_gra  0.070621
2    Volume_OSC  0.071086
3   Disparity20  0.071390
4           Psy  0.071634
5         RSI14  0.072118
6         Sigma  0.072352
7           CCI  0.073132
8      MA20_gra  0.074207
9      Momentum  0.074888
10   RSI signal  0.075421
11          MFI  0.075586
12   Sonar_sig5  0.075733
13           VR  0.076244
14         TRIX  0.076587
15  Disparity60  0.077438
16       Slow%K  0.078859

In [15]:
MM = pd.concat([RMSE_1_2, word_2])
MM = MM.sort_values("RMSE")
MM.reset_index(drop=True, inplace=True)
MM = KK.head(17)
MM

            col      RMSE
0      sum_word  0.027263
1       MA5_gra  0.070621
2    Volume_OSC  0.071086
3   Disparity20  0.071390
4           Psy  0.071634
5         RSI14  0.072118
6         Sigma  0.072352
7           CCI  0.073132
8      MA20_gra  0.074207
9      Momentum  0.074888
10   RSI signal  0.075421
11          MFI  0.075586
12   Sonar_sig5  0.075733
13           VR  0.076244
14         TRIX  0.076587
15  Disparity60  0.077438
16       Slow%K  0.078859

In [5]:
KK.rename(columns={"col":"col", "RMSE" :"RMSE"}, inplace=True)
MM.rename(columns={"col":"col", "RMSE" :"RMSE_1_2"}, inplace=True)

In [6]:
TOP_2_1 = TOP_2_1.head(17)
TOP_2_2 = TOP_2_2.head(17)

In [16]:
# 50개 지표중 상위 17개 지표들로  17C2 RMSE상위 17개 
# 1구간(18~21)
TOP_2_1

           col1         col2      RMSE
0       MA5_gra   Volume_OSC  0.066546
1         Sigma   Volume_OSC  0.068484
2           MFI     MACD_OSC  0.069182
3      Momentum   Volume_OSC  0.069386
4      MACD_OSC   Volume_OSC  0.069512
5           Psy   Volume_OSC  0.069700
6         RSI14   Volume_OSC  0.069777
7       MA5_gra  Disparity20  0.070075
8   Disparity60   Volume_OSC  0.070182
9      MA20_gra   Volume_OSC  0.070271
10   Volume_OSC          CCI  0.070561
11         TRIX   Volume_OSC  0.070644
12        RSI14      MA5_gra  0.070654
13   Volume_OSC  Disparity20  0.070666
14         TRIX  Disparity20  0.070788
15   RSI signal   Volume_OSC  0.070941
16        Sigma     Momentum  0.071153

In [17]:
# 50개 지표중 상위 17개 지표들로  17C2 RMSE상위 17개 
# 2구간(16~21)
TOP_2_2

           col1         col2      RMSE
0      Momentum          CCI  0.057807
1    RSI signal  Disparity20  0.058319
2       MA5_gra   Volume_OSC  0.058418
3       MA5_gra  Disparity20  0.058603
4         Sigma   Volume_OSC  0.058607
5           MFI   Volume_OSC  0.058617
6    RSI signal   Volume_OSC  0.058692
7      MACD_OSC  Disparity20  0.058830
8           Psy   Volume_OSC  0.058835
9      MACD_OSC          CCI  0.059037
10  Disparity60   Volume_OSC  0.059074
11          Psy      MA5_gra  0.059119
12         TRIX  Disparity20  0.059280
13   Volume_OSC          CCI  0.059284
14   Volume_OSC  Disparity20  0.059330
15        RSI14   Volume_OSC  0.059385
16     MA20_gra   Volume_OSC  0.059525

In [7]:
total = pd.concat([KK,MM,TOP_2_1,TOP_2_2], axis=1)

In [8]:
# 모든지표 1,2 구간 + 17C2 1,2 구간 RMSE상위 17 에들어간 모든 보조지표
total_col = total[['col','col1','col2']]
total_col

,col,col,col1,col1,col2,col2
0,sum_word,sum_word,MA5_gra,Momentum,Volume_OSC,CCI
1,MA5_gra,MA5_gra,Sigma,RSI signal,Volume_OSC,Disparity20
2,Volume_OSC,Volume_OSC,MFI,MA5_gra,MACD_OSC,Volume_OSC
3,Disparity20,Disparity20,Momentum,MA5_gra,Volume_OSC,Disparity20
4,Psy,Psy,MACD_OSC,Sigma,Volume_OSC,Volume_OSC
5,RSI14,RSI14,Psy,MFI,Volume_OSC,Volume_OSC
6,Sigma,Sigma,RSI14,RSI signal,Volume_OSC,Volume_OSC
7,CCI,CCI,MA5_gra,MACD_OSC,Disparity20,Disparity20
8,MA20_gra,MA20_gra,Disparity60,Psy,Volume_OSC,Volume_OSC
9,Momentum,Momentum,MA20_gra,MACD_OSC,Volume_OSC,CCI
10,RSI signal,RSI signal,Volume_OSC,Disparity60,CCI,Volume_OSC
11,MFI,MFI,TRIX,Psy,Volume_OSC,MA5_gra
12,Sonar_sig5,Sonar_sig5,RSI14,TRIX,MA5_gra,Disparity20
13,VR,VR,Volume_OSC,Volume_OSC,Disparity20,CCI
14,TRIX,TRIX,TRIX,Volume_OSC,Disparity20,Disparity20
15,Disparity60,Disparity60,RSI signal,RSI14,Volume_OSC,Volume_OSC
16,Slow%K,Slow%K,Sigma,MA20_gra,Momentum,Volume_OSC

In [9]:
a = total_col.iloc[:, 0]
b = total_col.iloc[:, 1]
c = total_col.iloc[:, 2]
d = total_col.iloc[:, 3]
e = total_col.iloc[:, 4]
f = total_col.iloc[:, 5]

a = pd.DataFrame(a)
b = pd.DataFrame(b)
c = pd.DataFrame(c)
d = pd.DataFrame(d)
e = pd.DataFrame(e)
f = pd.DataFrame(f)

In [10]:
c.rename(columns={"col1":"col"}, inplace=True)
d.rename(columns={"col1":"col"}, inplace=True)
e.rename(columns={"col2":"col"}, inplace=True)
f.rename(columns={"col2":"col"}, inplace=True)

In [11]:
o = a.append(b)
p = o.append(c)
q = p.append(d)
r = q.append(e)
total = r.append(f)
total

            col
0      sum_word
1       MA5_gra
2    Volume_OSC
3   Disparity20
4           Psy
..          ...
12  Disparity20
13          CCI
14  Disparity20
15   Volume_OSC
16   Volume_OSC

[102 rows x 1 columns]

In [12]:
total.value_counts()
total.rename(columns={"col":"Column_counts"})
total.value_counts()
# 보조지표 빈도수

col
Volume_OSC     24
Disparity20    10
MA5_gra         8
CCI             6
Psy             5
TRIX            5
Sigma           5
RSI14           5
RSI signal      5
Momentum        5
MFI             4
MACD_OSC        4
MA20_gra        4
Disparity60     4
Slow%K          2
Sonar_sig5      2
VR              2
sum_word        2
dtype: int64